

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden; /* Evita el scroll horizontal */
    width: 100%;
}
@font-face {
    font-family: 'Montserrat'; /* El nombre que vos elijas */
    src: url('fuentes/Montserrat-VariableFont_wght.ttf/');}

  @font-face {  font-family: "Nunito";
    src: url(fuentes/Nunito-Italic-VariableFont_wght.ttf);}

  @font-face {  font-family: "Book Antiqua";
    src: url(fuentes/bookantiqua.ttf);
} 





body {
    font-family: 'Nunito', sans-serif;
   
}

header {
 background-color: #F15454;
    height: 90px;
    padding: 0 20px;
    color: white;
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px;
    
    /* fijo arriba */
    position: sticky;
    top: 0;
    z-index: 1000; 
    
    /* Centrado logo */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
    

     /*SECCION PORTADA */

.hero h1 { 
    font-family: 'Montserrat';
    font-size: 64px;
    font-weight: 700;
}



.textoresalta{
color: #F15454;
}


.hero {
    background: #93C6D2;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center; /* Mantiene el texto centrado verticalmente */
    padding: 60px 0px 0px 60px;
} 
.hero > div:last-child {
    align-self: flex-end; /* Empuja solo este bloque hacia abajo */
    line-height: 0;       /* Elimina espacios fantasmas debajo de la imagen */
    justify-content: flex-end; /* 👉 la empuja a la derecha */
    align-items: flex-end;
}

.hero img {
    height: auto;
    width: 120%;
    display: block; /* Ayuda a que pegue contra el borde inferior */
}
.hero p {
    font-size: 23px;
    margin: 20px 0;
    padding: 0;
}
.texto-mobile {
    display: none;
}
a {
   
    display: inline-block;
    background: #D22929;
    color: white;
    padding: 20px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 40px
}

.cta {
    margin-left: 40px;
    margin-right: 40px;

}

.boton {
    font-family: 'montserrat', sans-serif;
    font-size: 42px;
    font-weight: 700;
    margin-top: 60px;
}

.sub-boton {
    font-size: 24px;
    padding: 0px 0px 50px 0px;
  
}


 /*SECCION DE QUE TRATAE EL EVENTO */

.divisor-rojo {
    background-color: #ff4d4d;
    width: 100%;               /* Que ocupe todo el ancho */
    padding: 20px 0;           /* Espacio arriba y abajo del texto */
    text-align: center;        /* Centra el texto */
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); /* Sombra suave abajo */
  }

  .divisor-rojo h2 {
    color: white;              /* Letra blanca */
    font-family: "Montserrat";
    font-size: 64px;
    margin: 0;
    text-transform: uppercase; /* Todo en mayúsculas */
    letter-spacing: 2px;     
  }
  
 .infoevento {
        background-image: url('imagenes/fondocebollas.png'); 
        padding-bottom: 80px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fechayhora {
       grid-column: span 2;
        text-align: center;
        font-weight: bold;
        font-family: Nunito;
        font-size: 32px
     
    }

   .cards { 
        background-color: #f2efee;
        width: 80%; /* Ajusta según tu Figma */
        max-width: 1100px;
        margin: 60px auto; /* 60px es la separación con el título rojo */
        display: grid;
        grid-template-columns: 1fr 1fr; 
        padding: 40px;
        position: relative;
    }


    /* cada cuadrito y cada imagen */
    .card {
        padding: 40px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card img {
        height: 200px; 
        margin-bottom: 20px;
    }

    .card h3 {
        font-size: 24px

       
    }

 /* --- CONFIGURACIÓN DE BORDES AMARILLOS --- */
    
    /* Línea vertical: Se la damos a la card 1 y 3 (las de la izquierda) */
    /* Como el párrafo es el elemento 1, las cards son el 2, 3, 4 y 5 */
    .card:nth-child(2), .card:nth-child(4) {
        border-right: 2px solid #eec05b;
    }

    /* Línea horizontal: Se la damos a la card 1 y 2 (las de arriba) */
    /* En el código son el elemento 2 y 3 */
    .card:nth-child(2), .card:nth-child(3) {
        border-bottom: 2px solid #eec05b;
    }

    /* Ajuste de imágenes y textos */
    .card img {
        height: 180px;
        margin-bottom: 20px;
    }

    .card h3 {
        margin: 15px 0;
        font-size: 24px
    }




     /*--------------------------------SECCION DE QUE VAMOS A COCINAR ------------------*/
.seccion-comidas {
        background-color: #7fb3c1;
        overflow: hidden;
    }

  .contenedor-carrusel {
        position: relative; /* Clave para mover las flechas */
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 1200px; /* Ajusta según tu diseño */
        margin: 50px auto;
        padding: 150px 80px; /* Creamos un colchón de espacio para las flechas */
    }

    .ventana-carrusel {
        width: 100%;
        overflow: visible; /* Para que se vean las de los costados */
        display: flex;
        justify-content: center;
    }

    .riel-tarjetas {
        display: flex;
        gap: 30px;
        align-items: center;
        transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .tarjeta {
        background-color: white;
        border-radius: 45px;
        min-width: 320px; 
        box-shadow: 0 15px 30px rgba(0,0,0,0.15);
        overflow: hidden;
        transition: all 0.5s ease;
        opacity: 0.5;
        transform: scale(0.8);
    }

    /* La clase que pondrá el JS */
    .tarjeta.activa {
        opacity: 1;
        transform: scale(1.1);
        z-index: 5;
    }

    /* Flechas (Tus estilos de dibujo) */
    .flecha {
        background-color: #f05454;
        border: none;
        border-radius: 50%;
        width: 90px;
        height: 90px;
         padding: 0;              /* 👈 clave */
  aspect-ratio: 1 / 1;     /* 👈 asegura círculo perfecto */
  flex-shrink: 0; 
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    .flecha::after {
        content: '';
        width: 14px; height: 14px;
        border-top: 4px solid white;
        border-right: 4px solid white;
    }

    .flecha.izquierda::after { transform: rotate(-135deg); margin-left: 5px; }
    .flecha.derecha::after { transform: rotate(45deg); margin-right: 5px; }
    
    .tarjeta img { width: 100%; height: 280px; object-fit: cover; border-bottom: 5px solid #f05454; }
    .info-tarjeta { padding: 25px; text-align: center; }
    .info-tarjeta h3 { color: #f05454; margin-bottom: 10px; } 


   /*--------------------------------SECCION DEl contador ------------------*/


    .seccion-contador {
      background-image: url(imagenes/fondomanchas.png);
        padding-bottom: 80px;
        text-align: center;
    }

    .contenedor-flexible {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        margin-top: 50px;
    }

    /* --- ESTILO DE LOS AJOS --- */
    .bloque-ajos {
        display: flex;
        justify-content: center;
        gap: 30px;
        
    }

    .ajo-item {
        position: relative; /* Para que el texto se mueva adentro del ajo */
        width: 247px;
    }

    .ajo-item img {
        width: 100%;
    }

    .texto-ajo {
        position: absolute;
        top: 65%; /* Ajusta esto para centrar el número en la panza del ajo */
        left: 47%;
        transform: translate(-50%, -50%);
        color: #f05454; /* Rojo */
        font-family: 'Arial Black', sans-serif;
    }

    .texto-ajo span {
        font-size: 90px;
        display: block;
        line-height: 1;
    }

    .texto-ajo p {
        font-size: 1rem;
        margin: 0;
        font-family: serif; 
    }

    /* --- ESTILO DEL MAPA --- */
    .contenedor-mapa {
        border: 10px solid #a3d0d9; /* Borde celeste clarito */
        box-shadow: 0 10px 30px rgba(0,0,0,0.1);
        line-height: 0; /* Quita espacio extra abajo */
    }

    .contenedor-mapa iframe {
        width: 500px; /* Ancho en PC */
        height: 500px; }




/*---------------------- TESTIMONIOSSSSSSSSSSSSSSSSSSSSSS---------------------------- */

    .testimonioss {
        background-color: #f2efee; 
        padding-bottom: 100px;
        text-align: center;
    }

    .contenedor-postits {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 50px;
        margin-top: 80px;
        padding: 0 50px;
    }

    .postit {
        background-color: #8dbcc9;
        width: 500px;
        height: 500px;
        padding: 40px;
        box-shadow: 10px 10px 20px rgba(0,0,0,0.1); /* Sombra */
        transition: transform 0.3s ease;
    }

    /* --- Rotaciones d  cada uno --- */
    .postit:nth-child(1) {
        transform: rotate(-3deg);
        margin-top: 40px;
    }

    .postit:nth-child(2) {
        transform: rotate(2deg);
    }

    .postit:nth-child(3) {
        transform: rotate(-2deg);
        margin-top: 60px;
    }

    /* Efecto al pasar el mouse */
    .postit:hover {
        transform: rotate(0deg) scale(1.05);
        z-index: 10;
    }

    /* --- TEXTO  DEL POST-IT --- */
    .postit blockquote p {
        font-size: 150%;
        line-height: 2;
        color: #333;
        margin-bottom: 20px;
        text-align: left;
    }

    .postit cite {
        color: #f05454; /* Rojo para el nombre */
        font-weight: bold;
        font-style: normal;
        display: block;
        text-align: left;
        text-transform: uppercase;
        font-size: 20px
    }
 .final{
        background-color: #FEA904;
        margin: 0px;
        border: 0px;
        padding: 10px 0 0 0; 
    }


.contenedor-columnas {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center; /* Centra el formulario verticalmente respecto a la imagen */
    justify-content: space-between;
}

.columna-izquierda {
    flex: 1;
    padding-left: 50px;
}

.columna-derecha {
    flex: 1;
    padding-left: 80px;
    display: flex;
    justify-content: flex-end;
}

.columna-derecha img {
    max-width: 200%;
    padding-left: 100px; 
    display: block; /* Quita espacios raros abajo de la imagen */
}

/* --- ESTILOS DEL FORMULARIO --- */

.titulo-final {
    font-family: 'Book Antiqua', serif; /* O la que prefieras */
    font-size: 80px;
    margin-bottom: 10px;
}

.subtitulo-final {
    font-family: 'Montserrat', sans-serif;
    color: #D22929; /* Tu rojo */
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 40px;
}

.formulario-final {
    display: flex;
    flex-direction: column; /* Apila los inputs uno abajo del otro */
    gap: 20px; /* Espacio entre campos */
    max-width: 450px; /* Para que no sean infinitamente largos */
}

.formulario-final input {
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.boton-enviar {
    background-color: #D22929;
    color: white;
    border: none;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s;
}

.boton-enviar:hover {
    background-color: #a51f1f;
}

footer{
        background-color: #D22929;
       width: 100%;
        padding: 80px 0;
       
    }
 footer img{
    display: inline-block;
 }

 .footer-contenido {
    margin: 0 auto;    /* Centra el contenedor */
    display: flex;
    justify-content: space-between; /* Texto a la izq, logos a la derecha */
    align-items: center; /* Los centra verticalmente entre sí */
    padding: 0 40px;   /* Un margen interno para que no toquen el borde */
}

.footer-links {
    display: block;
    gap: 100px; /* Espacio entre las políticas */
    color: white;
    font-weight: bold;
    font-size: 34px;
}

.footer-redes {
    display: flex;
    gap: 15px; /* Espacio entre logos */
}

.footer-redes img {
    height: 50px; /* Tamaño de los iconos */
    width: auto;
    filter: brightness(0) invert(1); /* Opcional: pone los logos en blanco si son oscuros */
}
.footer-redes img:hover {
    transform: scale(1.2); /* Efecto de agrandado al pasar el mouse */
}

.boton:hover {
    background-color: white; /* Un rojo más oscuro */
color: #a51f1f;
border: #D22929;
    transform: scale(1.05);    
    transition: all 0.3s ease; /* Movimiento suave */
}

.boton-enviar:hover {
 background-color: white; /* Un rojo más oscuro */
color: #a51f1f;
    box-shadow: 0 5px 15px rgba(210, 41, 41, 0.4); /* Brillo rojo abajo */
}

/* --- ESTILOS DEL MODAL DE ÉXITO --- */
.modal-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none; /* Se activa con JS */
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-contenido {
    background: #f2f2f2;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}



.cuerpo-modal { padding: 40px; }

.circulo-check {
    width: 100px; height: 100px;
    background: #c8e6c9;
    border: 2px solid #2e7d32;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-icono {
    width: 20px; height: 40px;
    border: solid #2e7d32;
    border-width: 0 5px 5px 0;
    transform: rotate(45deg);
    margin-bottom: 10px;
}

.cuerpo-modal h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 28px;
    margin-bottom: 15px;
}

.cuerpo-modal h2 span { color: #D22929; }

.boton-volver {
    background-color: #FEA904;
    border: none;
    padding: 15px 40px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}

.boton-volver:hover{
    background-color:#D22929;
    color: black;
}






@media (max-width: 768px){

    header {
        height: 60px; /* más bajito */
        padding: 0 15px;
        justify-content: flex-start; /* 👈 clave: lo lleva a la izquierda */
    }

    header img {
        height: 25px; /* achicás el logo */
    }

    header h1 {
        font-size: 16px; /* si es texto en vez de img */
        letter-spacing: 1px;
    }

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    padding-bottom: 250px;
    gap: 15px;
}
.hero h1 {
    font-family: 'Montserrat';
    font-size: 32px;
    width: 100%;
}
.hero img {
   position: absolute;
    bottom: 0px;   /* 👈 baja la imagen */
    right: -50vw;    /* 👈 se va fuera de la pantalla */
    width: 150vw;     /* 👈 tamaño relativo a la pantalla */
    max-width: none;
    height: auto;
}

.hero p {
    font-size: 18px;
    margin: 10px 0;
    padding: 0;
}

.texto-pc {
        display: none;
    }

    .texto-mobile {
        display: block;
        font-size: 16px;
        line-height: 1.4;
    }

a {
    padding: 5px 10px;
}

.cta {
    margin: 0px;

}

.boton {
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
}

.hero .sub-boton {
    font-size: 14px;
    padding: 0px
  
}


.contenedor-carrusel {
    margin: 30px auto;     /* antes 50px */
    padding: 60px 20px;    /* antes 150px 80px 😵 */
}

.tarjeta {
    min-width: 220px;   /* antes 320px */
    border-radius: 25px; /* opcional, más proporcionado */
}
.tarjeta img {
    height: 180px; /* antes 280px */
}
.riel-tarjetas {
    gap: 15px; /* antes 30px */
}

.flecha {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.flecha.izquierda {
    left: 10px; /* antes estaban muy afuera */
}

.flecha.derecha {
    right: 10px;
}

.flecha::after {
    width: 10px;
    height: 10px;
    border-top: 3px solid white;
    border-right: 3px solid white;
}

.info-tarjeta {
    padding: 15px; /* antes 25px */
}

.info-tarjeta h3 {
    font-size: 16px;
}









.cards {
        display: flex !important; /* Cambiamos de grid a flex para que sea más fácil */
        flex-direction: column !important; /* Fuerza la columna única */
        grid-template-columns: 1fr !important; /* Por si acaso mantuviera el grid */
        width: 95% !important;
        margin: 20px auto !important;
        padding: 15px !important;
    }

    .card {
        width: 100% !important;
        border-right: none !important; /* Quita la línea amarilla lateral */
        border-bottom: 2px solid #eec05b !important; /* La pone abajo para separar */
        padding: 30px 10px !important;
    }

    .card:last-child {
        border-bottom: none !important; /* La última no lleva línea abajo */
    }

    .card img {
        height: 150px !important; /* Achicamos un poco las imágenes */
        width: auto !important;
    }

    /* Ajuste del título rojo para que no quede gigante */
    .divisor-rojo h2 {
        font-size: 18px !important;
    }

    .infoevento {
        background-image: url('imagenes/fondocebollas.png'); 
        padding-bottom: 80px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fechayhora {
       grid-column: span 2;
        text-align: center;
        font-weight: bold;
        font-family: Nunito;
        font-size: 15px
     
}
 .card h3 {
        font-size: 18px
    }








    /* --- PARTE DE CONTADOR */
   
.contenedor-flexible {
        gap: 30px !important;
        margin-top: 30px !important;
        width: 100% !important;
        padding: 0 10px !important;
    }

    /* 2. Los ajos: 2 arriba y 2 abajo */
    .bloque-ajos {
        display: grid !important;
        grid-template-columns: 1fr 1fr !important; /* Crea las dos columnas */
        gap: 15px !important;
        width: 90% !important;
        justify-items: center !important;
    }

    .ajo-item {
        width: 140px !important; /* Achicamos el ajo para que entren dos */
    }

    /* 3. Ajustamos los números dentro de los ajos */
    .texto-ajo span {
        font-size: 50px !important; /* Números más chicos para el celu */
    }

    .texto-ajo p {
        font-size: 0.8rem !important;
    }

    /* 4. El Mapa: Que no se desborde */
    .contenedor-mapa {
        width: 95% !important;
        border-width: 5px !important; /* Borde más fino para el celu */
    }

    .contenedor-mapa iframe {
        width: 100% !important; /* Que use todo el ancho disponible */
        height: 300px !important; /* Un poco más petiso para que no ocupe toda la pantalla */
    }

/* --- PARTE DE TESTIMONIOS */

 .testimonioss {
        background-color: #f2efee; 
        padding-bottom: 100px;
        text-align: center;
    }

    .contenedor-postits {
        display: grid;
        justify-content: center;
        align-items: flex-start;
        gap: 60px;
        margin-top: 80px;
        margin-bottom: 20px;
        padding: 0 50px;
    }

    .postit {
        background-color: #8dbcc9;
        width: 300px;
        height: 300px;
        padding: 40px;
        box-shadow: 10px 10px 20px rgba(0,0,0,0.1); /* Sombra */
        transition: transform 0.3s ease;
    }

    /* --- Rotaciones d  cada uno --- */
    .postit:nth-child(1) {
        transform: rotate(-3deg);
        margin-top: 40px;
    }

    .postit:nth-child(2) {
        transform: rotate(2deg);
    }

    .postit:nth-child(3) {
        transform: rotate(-2deg);
        margin-top: 60px;
    }

    /* Efecto al pasar el mouse */
    .postit:hover {
        transform: rotate(0deg) scale(1.05);
        z-index: 10;
    }

    /* --- TEXTO  DEL POST-IT --- */
    .postit blockquote p {
        font-size: 100%;
        line-height: 2;
        color: #333;
        margin-bottom: 20px;
        text-align: left;
    }

    .postit cite {
        font-size: 15px;
    }

.final {
        background-color: #FEA904 !important; 
        padding: 40px 0 0 0 !important;
        position: relative; 
        overflow: hidden;
    }

    .contenedor-columnas {
        display: block !important; 
        width: 100% !important;
        position: relative;
        min-height: 600px;
    }

    /* COLUMNA DEL FORMULARIO */
    .columna-izquierda {
        width: 100% !important;
        padding: 0 20px !important;
        position: relative;
        z-index: 2;
        text-align: left !important;
    }

    .titulo-final {
        font-size: 35px !important;
        line-height: 1.1 !important;
        margin-bottom: 5px !important;
        width: 70%; /* Para que no choque con la cara de Paulina arriba */
    }

    .subtitulo-final {
        font-size: 18px !important;
        color: #D22929 !important;
        margin-bottom: 20px !important;
        width: 60%;
    }

    .formulario-final {
        width: 60% !important; 
    }

    .formulario-final input {
       font-size: 14px !important; 
        height: 40px !important;   
        padding: 8px 12px !important; 
    }
    .formulario-final input::placeholder {
        font-size: 12px !important;
    }

    .boton-enviar {
        width: 100% !important;
        padding: 10px !important;
        font-size: 18px !important;
    }

    /* COLUMNA DE PAULINA (LA CLAVE) */
    .columna-derecha {
        position: absolute !important;
        bottom: 0 !important;
        right: -20px !important; /* La pegamos al borde derecho */
        width: 65% !important; /* Tamaño de Paulina */
        z-index: 1; /* Queda un poquito atrás del form pero se ve entera */
        pointer-events: none; /* Para que no moleste si querés clickear el form */
    }

    .columna-derecha img {
       position: absolute;
    bottom: -30px;   /* 👈 baja la imagen */
    right: -30vw;    /* 👈 se va fuera de la pantalla */
    width: 100vw;     /* 👈 tamaño relativo a la pantalla */
    max-width: none;
    height: auto;
    }







     .modal-overlay {
        position: fixed;
    inset: 0; /* 👈 reemplaza top/left/width/height */

    background: rgba(0, 0, 0, 0.8);

    display: none; /* sigue igual, lo activa JS */
    
    justify-content: center;
    align-items: center;

    padding: 20px;
    z-index: 9999;
    }

    .modal-contenido {
        width: 100%;
        max-width: 320px; /* 👈 límite real */
        
        max-height: 90vh; /* 👈 nunca se pasa de la pantalla */
        overflow-y: auto; /* 👈 scroll interno si hace falta */
        
        display: flex;
        flex-direction: column;
        justify-content: center;

        border-radius: 16px;
    }

    .cuerpo-modal {
        padding: 25px 20px;
    }






    

footer {
        padding: 40px 20px !important;
    }

  .footer-contenido {
        display: flex !important;
        flex-direction: column-reverse !important; 
        gap: 30px !important;
        align-items: center !important;
        padding: 40px 10px !important;
    }

    .footer-redes {
        display: flex !important;
        justify-content: center !important;
        gap: 25px !important; 
        margin-bottom: 10px !important;
    }

    .footer-redes img {
        justify-content: center;
        height: 50px !important; /* Tamaño cómodo para tocar con el dedo */
        width: auto !important;
    }


    .footer-links {
        display: flex !important;
        flex-direction: column !important;
        gap: 15px !important;
        text-align: center !important;
        font-size: 15px !important; 
        color: white !important;
        font-weight: bold !important;
    }







}
